<template>
    <div v-bind:class="['dm-window-frame', {maximized}]"
         v-bind:style="style"
         v-on:mousedown="focus"
    >
        <template v-if="!maximized">
            <draggable-source v-bind:drag="resizeTop" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-top"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeTopLeft" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-top-left"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeTopRight" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-top-right"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeLeft" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-left"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeRight" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-right"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeBottomLeft" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-bottom-left"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeBottomRight" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-bottom-right"></div>
            </draggable-source>
            <draggable-source v-bind:drag="resizeBottom" v-bind:withoutContent="true">
                <div class="dm-window-frame-resize-bottom"></div>
            </draggable-source>
        </template>

        <draggable-content>
            <div class="dm-window-header bg-danger">
                <draggable-source v-bind:drag="drag" v-bind:disabled="maximized">
                    <div class="dm-window-title" v-on:mousedown="dragStart">
                        <i class="icon-im-warning"/>
                        Something
                    </div>
                </draggable-source>
                <div class="dm-window-header-actions">
                    <button><i class="icon-im-minus"/></button>
                    <button v-on:click="restoreMaximize"><i class="icon-im-shrink"/></button>
                    <button v-on:click="close"><i class="icon-im-cross"/></button>
                </div>
            </div>
        </draggable-content>
        <div class="dm-content">
            <component v-bind:is="content" v-bind:uuid="uuid"/>
        </div>
    </div>
</template>

<style lang="less">
    @import '~bootstrap/less/variables';

    @outerOffset: -1px;
    @resizeOffset: 6px;
    @resizeSize: 3px;
    @resizeCornerSize: @resizeOffset - @outerOffset;

    @btnColor: #CCCCCC;
    @btnActiveColor: #000000;

    @headerBg: #FFFFFF;
    @headerActionBtnBg: transparent;

    .dm-window-frame {
        display: flex;
        flex-direction: column;

        position: absolute;

        border: 1px solid #CCCCCC;

        background: #FFFFFF;

        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);

        &.maximized {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .dm-window-header {
            display: flex;
            flex-shrink: 0;

            .dm-window-title {
                margin: 5px 0 5px 10px;

                min-width: 0;

                flex-grow: 1;

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                cursor: move;
            }

            .dm-window-header-actions {
                display: flex;
                flex-shrink: 0;
                align-items: center;

                padding: 0;
                margin: 5px 10px 5px 0;

                white-space: nowrap;

                button {
                    margin: 0 0 0 10px;
                    padding: 0;

                    color: @btnColor;

                    border: none;
                    background: @headerActionBtnBg;

                    &:hover {
                        color: @btnActiveColor;
                    }
                }
            }
        }

        &.maximized {
            .dm-window-title {
                cursor: default;
            }
        }

        .dm-window-frame-resize-top,
        .dm-window-frame-resize-top-left,
        .dm-window-frame-resize-top-right,
        .dm-window-frame-resize-left,
        .dm-window-frame-resize-right,
        .dm-window-frame-resize-bottom-left,
        .dm-window-frame-resize-bottom-right,
        .dm-window-frame-resize-bottom {
            position: absolute;

            user-select: none;
        }

        .dm-window-frame-resize-top {
            top: @outerOffset;
            left: @resizeOffset;
            right: @resizeOffset;

            height: @resizeSize;

            cursor: n-resize;
        }

        .dm-window-frame-resize-top-left {
            top: @outerOffset;
            left: @outerOffset;

            width: @resizeCornerSize;
            height: @resizeCornerSize;

            cursor: se-resize;
        }

        .dm-window-frame-resize-top-right {
            top: @outerOffset;
            right: @outerOffset;

            width: @resizeCornerSize;
            height: @resizeCornerSize;

            cursor: ne-resize;
        }

        .dm-window-frame-resize-left {
            top: @resizeOffset;
            left: @outerOffset;
            bottom: @resizeOffset;

            width: @resizeSize;

            cursor: w-resize;
        }

        .dm-window-frame-resize-right {
            top: @resizeOffset;
            right: @outerOffset;
            bottom: @resizeOffset;

            width: @resizeSize;

            cursor: e-resize;
        }

        .dm-window-frame-resize-bottom-left {
            left: @outerOffset;
            bottom: @outerOffset;

            width: @resizeCornerSize;
            height: @resizeCornerSize;

            cursor: sw-resize;
        }

        .dm-window-frame-resize-bottom-right {
            right: @outerOffset;
            bottom: @outerOffset;

            width: @resizeCornerSize;
            height: @resizeCornerSize;

            cursor: se-resize;
        }

        .dm-window-frame-resize-bottom {
            left: @resizeOffset;
            bottom: @outerOffset;
            right: @resizeOffset;

            height: @resizeSize;

            cursor: s-resize;
        }

        .dm-content {
            flex-grow: 1;
            min-height: 0;

            overflow: auto;
        }
    }
</style>

<script>
    import Frame from "./Frame";

    export default Frame;
</script>
