@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?nezso0') format('truetype'),
    url('fonts/icomoon.woff?nezso0') format('woff'),
    url('fonts/icomoon.svg?nezso0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-im-"], [class*=" icon-im-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-im-home:before {
  content: "\e900";
}
.icon-im-home2:before {
  content: "\e901";
}
.icon-im-home3:before {
  content: "\e902";
}
.icon-im-office:before {
  content: "\e903";
}
.icon-im-newspaper:before {
  content: "\e904";
}
.icon-im-pencil:before {
  content: "\e905";
}
.icon-im-pencil2:before {
  content: "\e906";
}
.icon-im-quill:before {
  content: "\e907";
}
.icon-im-pen:before {
  content: "\e908";
}
.icon-im-blog:before {
  content: "\e909";
}
.icon-im-eyedropper:before {
  content: "\e90a";
}
.icon-im-droplet:before {
  content: "\e90b";
}
.icon-im-paint-format:before {
  content: "\e90c";
}
.icon-im-image:before {
  content: "\e90d";
}
.icon-im-images:before {
  content: "\e90e";
}
.icon-im-camera:before {
  content: "\e90f";
}
.icon-im-headphones:before {
  content: "\e910";
}
.icon-im-music:before {
  content: "\e911";
}
.icon-im-play:before {
  content: "\e912";
}
.icon-im-film:before {
  content: "\e913";
}
.icon-im-video-camera:before {
  content: "\e914";
}
.icon-im-dice:before {
  content: "\e915";
}
.icon-im-pacman:before {
  content: "\e916";
}
.icon-im-spades:before {
  content: "\e917";
}
.icon-im-clubs:before {
  content: "\e918";
}
.icon-im-diamonds:before {
  content: "\e919";
}
.icon-im-bullhorn:before {
  content: "\e91a";
}
.icon-im-connection:before {
  content: "\e91b";
}
.icon-im-podcast:before {
  content: "\e91c";
}
.icon-im-feed:before {
  content: "\e91d";
}
.icon-im-mic:before {
  content: "\e91e";
}
.icon-im-book:before {
  content: "\e91f";
}
.icon-im-books:before {
  content: "\e920";
}
.icon-im-library:before {
  content: "\e921";
}
.icon-im-file-text:before {
  content: "\e922";
}
.icon-im-profile:before {
  content: "\e923";
}
.icon-im-file-empty:before {
  content: "\e924";
}
.icon-im-files-empty:before {
  content: "\e925";
}
.icon-im-file-text2:before {
  content: "\e926";
}
.icon-im-file-picture:before {
  content: "\e927";
}
.icon-im-file-music:before {
  content: "\e928";
}
.icon-im-file-play:before {
  content: "\e929";
}
.icon-im-file-video:before {
  content: "\e92a";
}
.icon-im-file-zip:before {
  content: "\e92b";
}
.icon-im-copy:before {
  content: "\e92c";
}
.icon-im-paste:before {
  content: "\e92d";
}
.icon-im-stack:before {
  content: "\e92e";
}
.icon-im-folder:before {
  content: "\e92f";
}
.icon-im-folder-open:before {
  content: "\e930";
}
.icon-im-folder-plus:before {
  content: "\e931";
}
.icon-im-folder-minus:before {
  content: "\e932";
}
.icon-im-folder-download:before {
  content: "\e933";
}
.icon-im-folder-upload:before {
  content: "\e934";
}
.icon-im-price-tag:before {
  content: "\e935";
}
.icon-im-price-tags:before {
  content: "\e936";
}
.icon-im-barcode:before {
  content: "\e937";
}
.icon-im-qrcode:before {
  content: "\e938";
}
.icon-im-ticket:before {
  content: "\e939";
}
.icon-im-cart:before {
  content: "\e93a";
}
.icon-im-coin-dollar:before {
  content: "\e93b";
}
.icon-im-coin-euro:before {
  content: "\e93c";
}
.icon-im-coin-pound:before {
  content: "\e93d";
}
.icon-im-coin-yen:before {
  content: "\e93e";
}
.icon-im-credit-card:before {
  content: "\e93f";
}
.icon-im-calculator:before {
  content: "\e940";
}
.icon-im-lifebuoy:before {
  content: "\e941";
}
.icon-im-phone:before {
  content: "\e942";
}
.icon-im-phone-hang-up:before {
  content: "\e943";
}
.icon-im-address-book:before {
  content: "\e944";
}
.icon-im-envelop:before {
  content: "\e945";
}
.icon-im-pushpin:before {
  content: "\e946";
}
.icon-im-location:before {
  content: "\e947";
}
.icon-im-location2:before {
  content: "\e948";
}
.icon-im-compass:before {
  content: "\e949";
}
.icon-im-compass2:before {
  content: "\e94a";
}
.icon-im-map:before {
  content: "\e94b";
}
.icon-im-map2:before {
  content: "\e94c";
}
.icon-im-history:before {
  content: "\e94d";
}
.icon-im-clock:before {
  content: "\e94e";
}
.icon-im-clock2:before {
  content: "\e94f";
}
.icon-im-alarm:before {
  content: "\e950";
}
.icon-im-bell:before {
  content: "\e951";
}
.icon-im-stopwatch:before {
  content: "\e952";
}
.icon-im-calendar:before {
  content: "\e953";
}
.icon-im-printer:before {
  content: "\e954";
}
.icon-im-keyboard:before {
  content: "\e955";
}
.icon-im-display:before {
  content: "\e956";
}
.icon-im-laptop:before {
  content: "\e957";
}
.icon-im-mobile:before {
  content: "\e958";
}
.icon-im-mobile2:before {
  content: "\e959";
}
.icon-im-tablet:before {
  content: "\e95a";
}
.icon-im-tv:before {
  content: "\e95b";
}
.icon-im-drawer:before {
  content: "\e95c";
}
.icon-im-drawer2:before {
  content: "\e95d";
}
.icon-im-box-add:before {
  content: "\e95e";
}
.icon-im-box-remove:before {
  content: "\e95f";
}
.icon-im-download:before {
  content: "\e960";
}
.icon-im-upload:before {
  content: "\e961";
}
.icon-im-floppy-disk:before {
  content: "\e962";
}
.icon-im-drive:before {
  content: "\e963";
}
.icon-im-database:before {
  content: "\e964";
}
.icon-im-undo:before {
  content: "\e965";
}
.icon-im-redo:before {
  content: "\e966";
}
.icon-im-undo2:before {
  content: "\e967";
}
.icon-im-redo2:before {
  content: "\e968";
}
.icon-im-forward:before {
  content: "\e969";
}
.icon-im-reply:before {
  content: "\e96a";
}
.icon-im-bubble:before {
  content: "\e96b";
}
.icon-im-bubbles:before {
  content: "\e96c";
}
.icon-im-bubbles2:before {
  content: "\e96d";
}
.icon-im-bubble2:before {
  content: "\e96e";
}
.icon-im-bubbles3:before {
  content: "\e96f";
}
.icon-im-bubbles4:before {
  content: "\e970";
}
.icon-im-user:before {
  content: "\e971";
}
.icon-im-users:before {
  content: "\e972";
}
.icon-im-user-plus:before {
  content: "\e973";
}
.icon-im-user-minus:before {
  content: "\e974";
}
.icon-im-user-check:before {
  content: "\e975";
}
.icon-im-user-tie:before {
  content: "\e976";
}
.icon-im-quotes-left:before {
  content: "\e977";
}
.icon-im-quotes-right:before {
  content: "\e978";
}
.icon-im-hour-glass:before {
  content: "\e979";
}
.icon-im-spinner:before {
  content: "\e97a";
}
.icon-im-spinner2:before {
  content: "\e97b";
}
.icon-im-spinner3:before {
  content: "\e97c";
}
.icon-im-spinner4:before {
  content: "\e97d";
}
.icon-im-spinner5:before {
  content: "\e97e";
}
.icon-im-spinner6:before {
  content: "\e97f";
}
.icon-im-spinner7:before {
  content: "\e980";
}
.icon-im-spinner8:before {
  content: "\e981";
}
.icon-im-spinner9:before {
  content: "\e982";
}
.icon-im-spinner10:before {
  content: "\e983";
}
.icon-im-spinner11:before {
  content: "\e984";
}
.icon-im-binoculars:before {
  content: "\e985";
}
.icon-im-search:before {
  content: "\e986";
}
.icon-im-zoom-in:before {
  content: "\e987";
}
.icon-im-zoom-out:before {
  content: "\e988";
}
.icon-im-enlarge:before {
  content: "\e989";
}
.icon-im-shrink:before {
  content: "\e98a";
}
.icon-im-enlarge2:before {
  content: "\e98b";
}
.icon-im-shrink2:before {
  content: "\e98c";
}
.icon-im-key:before {
  content: "\e98d";
}
.icon-im-key2:before {
  content: "\e98e";
}
.icon-im-lock:before {
  content: "\e98f";
}
.icon-im-unlocked:before {
  content: "\e990";
}
.icon-im-wrench:before {
  content: "\e991";
}
.icon-im-equalizer:before {
  content: "\e992";
}
.icon-im-equalizer2:before {
  content: "\e993";
}
.icon-im-cog:before {
  content: "\e994";
}
.icon-im-cogs:before {
  content: "\e995";
}
.icon-im-hammer:before {
  content: "\e996";
}
.icon-im-magic-wand:before {
  content: "\e997";
}
.icon-im-aid-kit:before {
  content: "\e998";
}
.icon-im-bug:before {
  content: "\e999";
}
.icon-im-pie-chart:before {
  content: "\e99a";
}
.icon-im-stats-dots:before {
  content: "\e99b";
}
.icon-im-stats-bars:before {
  content: "\e99c";
}
.icon-im-stats-bars2:before {
  content: "\e99d";
}
.icon-im-trophy:before {
  content: "\e99e";
}
.icon-im-gift:before {
  content: "\e99f";
}
.icon-im-glass:before {
  content: "\e9a0";
}
.icon-im-glass2:before {
  content: "\e9a1";
}
.icon-im-mug:before {
  content: "\e9a2";
}
.icon-im-spoon-knife:before {
  content: "\e9a3";
}
.icon-im-leaf:before {
  content: "\e9a4";
}
.icon-im-rocket:before {
  content: "\e9a5";
}
.icon-im-meter:before {
  content: "\e9a6";
}
.icon-im-meter2:before {
  content: "\e9a7";
}
.icon-im-hammer2:before {
  content: "\e9a8";
}
.icon-im-fire:before {
  content: "\e9a9";
}
.icon-im-lab:before {
  content: "\e9aa";
}
.icon-im-magnet:before {
  content: "\e9ab";
}
.icon-im-bin:before {
  content: "\e9ac";
}
.icon-im-bin2:before {
  content: "\e9ad";
}
.icon-im-briefcase:before {
  content: "\e9ae";
}
.icon-im-airplane:before {
  content: "\e9af";
}
.icon-im-truck:before {
  content: "\e9b0";
}
.icon-im-road:before {
  content: "\e9b1";
}
.icon-im-accessibility:before {
  content: "\e9b2";
}
.icon-im-target:before {
  content: "\e9b3";
}
.icon-im-shield:before {
  content: "\e9b4";
}
.icon-im-power:before {
  content: "\e9b5";
}
.icon-im-switch:before {
  content: "\e9b6";
}
.icon-im-power-cord:before {
  content: "\e9b7";
}
.icon-im-clipboard:before {
  content: "\e9b8";
}
.icon-im-list-numbered:before {
  content: "\e9b9";
}
.icon-im-list:before {
  content: "\e9ba";
}
.icon-im-list2:before {
  content: "\e9bb";
}
.icon-im-tree:before {
  content: "\e9bc";
}
.icon-im-menu:before {
  content: "\e9bd";
}
.icon-im-menu2:before {
  content: "\e9be";
}
.icon-im-menu3:before {
  content: "\e9bf";
}
.icon-im-menu4:before {
  content: "\e9c0";
}
.icon-im-cloud:before {
  content: "\e9c1";
}
.icon-im-cloud-download:before {
  content: "\e9c2";
}
.icon-im-cloud-upload:before {
  content: "\e9c3";
}
.icon-im-cloud-check:before {
  content: "\e9c4";
}
.icon-im-download2:before {
  content: "\e9c5";
}
.icon-im-upload2:before {
  content: "\e9c6";
}
.icon-im-download3:before {
  content: "\e9c7";
}
.icon-im-upload3:before {
  content: "\e9c8";
}
.icon-im-sphere:before {
  content: "\e9c9";
}
.icon-im-earth:before {
  content: "\e9ca";
}
.icon-im-link:before {
  content: "\e9cb";
}
.icon-im-flag:before {
  content: "\e9cc";
}
.icon-im-attachment:before {
  content: "\e9cd";
}
.icon-im-eye:before {
  content: "\e9ce";
}
.icon-im-eye-plus:before {
  content: "\e9cf";
}
.icon-im-eye-minus:before {
  content: "\e9d0";
}
.icon-im-eye-blocked:before {
  content: "\e9d1";
}
.icon-im-bookmark:before {
  content: "\e9d2";
}
.icon-im-bookmarks:before {
  content: "\e9d3";
}
.icon-im-sun:before {
  content: "\e9d4";
}
.icon-im-contrast:before {
  content: "\e9d5";
}
.icon-im-brightness-contrast:before {
  content: "\e9d6";
}
.icon-im-star-empty:before {
  content: "\e9d7";
}
.icon-im-star-half:before {
  content: "\e9d8";
}
.icon-im-star-full:before {
  content: "\e9d9";
}
.icon-im-heart:before {
  content: "\e9da";
}
.icon-im-heart-broken:before {
  content: "\e9db";
}
.icon-im-man:before {
  content: "\e9dc";
}
.icon-im-woman:before {
  content: "\e9dd";
}
.icon-im-man-woman:before {
  content: "\e9de";
}
.icon-im-happy:before {
  content: "\e9df";
}
.icon-im-happy2:before {
  content: "\e9e0";
}
.icon-im-smile:before {
  content: "\e9e1";
}
.icon-im-smile2:before {
  content: "\e9e2";
}
.icon-im-tongue:before {
  content: "\e9e3";
}
.icon-im-tongue2:before {
  content: "\e9e4";
}
.icon-im-sad:before {
  content: "\e9e5";
}
.icon-im-sad2:before {
  content: "\e9e6";
}
.icon-im-wink:before {
  content: "\e9e7";
}
.icon-im-wink2:before {
  content: "\e9e8";
}
.icon-im-grin:before {
  content: "\e9e9";
}
.icon-im-grin2:before {
  content: "\e9ea";
}
.icon-im-cool:before {
  content: "\e9eb";
}
.icon-im-cool2:before {
  content: "\e9ec";
}
.icon-im-angry:before {
  content: "\e9ed";
}
.icon-im-angry2:before {
  content: "\e9ee";
}
.icon-im-evil:before {
  content: "\e9ef";
}
.icon-im-evil2:before {
  content: "\e9f0";
}
.icon-im-shocked:before {
  content: "\e9f1";
}
.icon-im-shocked2:before {
  content: "\e9f2";
}
.icon-im-baffled:before {
  content: "\e9f3";
}
.icon-im-baffled2:before {
  content: "\e9f4";
}
.icon-im-confused:before {
  content: "\e9f5";
}
.icon-im-confused2:before {
  content: "\e9f6";
}
.icon-im-neutral:before {
  content: "\e9f7";
}
.icon-im-neutral2:before {
  content: "\e9f8";
}
.icon-im-hipster:before {
  content: "\e9f9";
}
.icon-im-hipster2:before {
  content: "\e9fa";
}
.icon-im-wondering:before {
  content: "\e9fb";
}
.icon-im-wondering2:before {
  content: "\e9fc";
}
.icon-im-sleepy:before {
  content: "\e9fd";
}
.icon-im-sleepy2:before {
  content: "\e9fe";
}
.icon-im-frustrated:before {
  content: "\e9ff";
}
.icon-im-frustrated2:before {
  content: "\ea00";
}
.icon-im-crying:before {
  content: "\ea01";
}
.icon-im-crying2:before {
  content: "\ea02";
}
.icon-im-point-up:before {
  content: "\ea03";
}
.icon-im-point-right:before {
  content: "\ea04";
}
.icon-im-point-down:before {
  content: "\ea05";
}
.icon-im-point-left:before {
  content: "\ea06";
}
.icon-im-warning:before {
  content: "\ea07";
}
.icon-im-notification:before {
  content: "\ea08";
}
.icon-im-question:before {
  content: "\ea09";
}
.icon-im-plus:before {
  content: "\ea0a";
}
.icon-im-minus:before {
  content: "\ea0b";
}
.icon-im-info:before {
  content: "\ea0c";
}
.icon-im-cancel-circle:before {
  content: "\ea0d";
}
.icon-im-blocked:before {
  content: "\ea0e";
}
.icon-im-cross:before {
  content: "\ea0f";
}
.icon-im-checkmark:before {
  content: "\ea10";
}
.icon-im-checkmark2:before {
  content: "\ea11";
}
.icon-im-spell-check:before {
  content: "\ea12";
}
.icon-im-enter:before {
  content: "\ea13";
}
.icon-im-exit:before {
  content: "\ea14";
}
.icon-im-play2:before {
  content: "\ea15";
}
.icon-im-pause:before {
  content: "\ea16";
}
.icon-im-stop:before {
  content: "\ea17";
}
.icon-im-previous:before {
  content: "\ea18";
}
.icon-im-next:before {
  content: "\ea19";
}
.icon-im-backward:before {
  content: "\ea1a";
}
.icon-im-forward2:before {
  content: "\ea1b";
}
.icon-im-play3:before {
  content: "\ea1c";
}
.icon-im-pause2:before {
  content: "\ea1d";
}
.icon-im-stop2:before {
  content: "\ea1e";
}
.icon-im-backward2:before {
  content: "\ea1f";
}
.icon-im-forward3:before {
  content: "\ea20";
}
.icon-im-first:before {
  content: "\ea21";
}
.icon-im-last:before {
  content: "\ea22";
}
.icon-im-previous2:before {
  content: "\ea23";
}
.icon-im-next2:before {
  content: "\ea24";
}
.icon-im-eject:before {
  content: "\ea25";
}
.icon-im-volume-high:before {
  content: "\ea26";
}
.icon-im-volume-medium:before {
  content: "\ea27";
}
.icon-im-volume-low:before {
  content: "\ea28";
}
.icon-im-volume-mute:before {
  content: "\ea29";
}
.icon-im-volume-mute2:before {
  content: "\ea2a";
}
.icon-im-volume-increase:before {
  content: "\ea2b";
}
.icon-im-volume-decrease:before {
  content: "\ea2c";
}
.icon-im-loop:before {
  content: "\ea2d";
}
.icon-im-loop2:before {
  content: "\ea2e";
}
.icon-im-infinite:before {
  content: "\ea2f";
}
.icon-im-shuffle:before {
  content: "\ea30";
}
.icon-im-arrow-up-left:before {
  content: "\ea31";
}
.icon-im-arrow-up:before {
  content: "\ea32";
}
.icon-im-arrow-up-right:before {
  content: "\ea33";
}
.icon-im-arrow-right:before {
  content: "\ea34";
}
.icon-im-arrow-down-right:before {
  content: "\ea35";
}
.icon-im-arrow-down:before {
  content: "\ea36";
}
.icon-im-arrow-down-left:before {
  content: "\ea37";
}
.icon-im-arrow-left:before {
  content: "\ea38";
}
.icon-im-arrow-up-left2:before {
  content: "\ea39";
}
.icon-im-arrow-up2:before {
  content: "\ea3a";
}
.icon-im-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-im-arrow-right2:before {
  content: "\ea3c";
}
.icon-im-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-im-arrow-down2:before {
  content: "\ea3e";
}
.icon-im-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-im-arrow-left2:before {
  content: "\ea40";
}
.icon-im-circle-up:before {
  content: "\ea41";
}
.icon-im-circle-right:before {
  content: "\ea42";
}
.icon-im-circle-down:before {
  content: "\ea43";
}
.icon-im-circle-left:before {
  content: "\ea44";
}
.icon-im-tab:before {
  content: "\ea45";
}
.icon-im-move-up:before {
  content: "\ea46";
}
.icon-im-move-down:before {
  content: "\ea47";
}
.icon-im-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-im-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-im-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-im-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-im-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-im-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-im-command:before {
  content: "\ea4e";
}
.icon-im-shift:before {
  content: "\ea4f";
}
.icon-im-ctrl:before {
  content: "\ea50";
}
.icon-im-opt:before {
  content: "\ea51";
}
.icon-im-checkbox-checked:before {
  content: "\ea52";
}
.icon-im-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-im-radio-checked:before {
  content: "\ea54";
}
.icon-im-radio-checked2:before {
  content: "\ea55";
}
.icon-im-radio-unchecked:before {
  content: "\ea56";
}
.icon-im-crop:before {
  content: "\ea57";
}
.icon-im-make-group:before {
  content: "\ea58";
}
.icon-im-ungroup:before {
  content: "\ea59";
}
.icon-im-scissors:before {
  content: "\ea5a";
}
.icon-im-filter:before {
  content: "\ea5b";
}
.icon-im-font:before {
  content: "\ea5c";
}
.icon-im-ligature:before {
  content: "\ea5d";
}
.icon-im-ligature2:before {
  content: "\ea5e";
}
.icon-im-text-height:before {
  content: "\ea5f";
}
.icon-im-text-width:before {
  content: "\ea60";
}
.icon-im-font-size:before {
  content: "\ea61";
}
.icon-im-bold:before {
  content: "\ea62";
}
.icon-im-underline:before {
  content: "\ea63";
}
.icon-im-italic:before {
  content: "\ea64";
}
.icon-im-strikethrough:before {
  content: "\ea65";
}
.icon-im-omega:before {
  content: "\ea66";
}
.icon-im-sigma:before {
  content: "\ea67";
}
.icon-im-page-break:before {
  content: "\ea68";
}
.icon-im-superscript:before {
  content: "\ea69";
}
.icon-im-subscript:before {
  content: "\ea6a";
}
.icon-im-superscript2:before {
  content: "\ea6b";
}
.icon-im-subscript2:before {
  content: "\ea6c";
}
.icon-im-text-color:before {
  content: "\ea6d";
}
.icon-im-pagebreak:before {
  content: "\ea6e";
}
.icon-im-clear-formatting:before {
  content: "\ea6f";
}
.icon-im-table:before {
  content: "\ea70";
}
.icon-im-table2:before {
  content: "\ea71";
}
.icon-im-insert-template:before {
  content: "\ea72";
}
.icon-im-pilcrow:before {
  content: "\ea73";
}
.icon-im-ltr:before {
  content: "\ea74";
}
.icon-im-rtl:before {
  content: "\ea75";
}
.icon-im-section:before {
  content: "\ea76";
}
.icon-im-paragraph-left:before {
  content: "\ea77";
}
.icon-im-paragraph-center:before {
  content: "\ea78";
}
.icon-im-paragraph-right:before {
  content: "\ea79";
}
.icon-im-paragraph-justify:before {
  content: "\ea7a";
}
.icon-im-indent-increase:before {
  content: "\ea7b";
}
.icon-im-indent-decrease:before {
  content: "\ea7c";
}
.icon-im-share:before {
  content: "\ea7d";
}
.icon-im-new-tab:before {
  content: "\ea7e";
}
.icon-im-embed:before {
  content: "\ea7f";
}
.icon-im-embed2:before {
  content: "\ea80";
}
.icon-im-terminal:before {
  content: "\ea81";
}
.icon-im-share2:before {
  content: "\ea82";
}
.icon-im-mail:before {
  content: "\ea83";
}
.icon-im-mail2:before {
  content: "\ea84";
}
.icon-im-mail3:before {
  content: "\ea85";
}
.icon-im-mail4:before {
  content: "\ea86";
}
.icon-im-amazon:before {
  content: "\ea87";
}
.icon-im-google:before {
  content: "\ea88";
}
.icon-im-google2:before {
  content: "\ea89";
}
.icon-im-google3:before {
  content: "\ea8a";
}
.icon-im-google-plus:before {
  content: "\ea8b";
}
.icon-im-google-plus2:before {
  content: "\ea8c";
}
.icon-im-google-plus3:before {
  content: "\ea8d";
}
.icon-im-hangouts:before {
  content: "\ea8e";
}
.icon-im-google-drive:before {
  content: "\ea8f";
}
.icon-im-facebook:before {
  content: "\ea90";
}
.icon-im-facebook2:before {
  content: "\ea91";
}
.icon-im-instagram:before {
  content: "\ea92";
}
.icon-im-whatsapp:before {
  content: "\ea93";
}
.icon-im-spotify:before {
  content: "\ea94";
}
.icon-im-telegram:before {
  content: "\ea95";
}
.icon-im-twitter:before {
  content: "\ea96";
}
.icon-im-vine:before {
  content: "\ea97";
}
.icon-im-vk:before {
  content: "\ea98";
}
.icon-im-renren:before {
  content: "\ea99";
}
.icon-im-sina-weibo:before {
  content: "\ea9a";
}
.icon-im-rss:before {
  content: "\ea9b";
}
.icon-im-rss2:before {
  content: "\ea9c";
}
.icon-im-youtube:before {
  content: "\ea9d";
}
.icon-im-youtube2:before {
  content: "\ea9e";
}
.icon-im-twitch:before {
  content: "\ea9f";
}
.icon-im-vimeo:before {
  content: "\eaa0";
}
.icon-im-vimeo2:before {
  content: "\eaa1";
}
.icon-im-lanyrd:before {
  content: "\eaa2";
}
.icon-im-flickr:before {
  content: "\eaa3";
}
.icon-im-flickr2:before {
  content: "\eaa4";
}
.icon-im-flickr3:before {
  content: "\eaa5";
}
.icon-im-flickr4:before {
  content: "\eaa6";
}
.icon-im-dribbble:before {
  content: "\eaa7";
}
.icon-im-behance:before {
  content: "\eaa8";
}
.icon-im-behance2:before {
  content: "\eaa9";
}
.icon-im-deviantart:before {
  content: "\eaaa";
}
.icon-im-500px:before {
  content: "\eaab";
}
.icon-im-steam:before {
  content: "\eaac";
}
.icon-im-steam2:before {
  content: "\eaad";
}
.icon-im-dropbox:before {
  content: "\eaae";
}
.icon-im-onedrive:before {
  content: "\eaaf";
}
.icon-im-github:before {
  content: "\eab0";
}
.icon-im-npm:before {
  content: "\eab1";
}
.icon-im-basecamp:before {
  content: "\eab2";
}
.icon-im-trello:before {
  content: "\eab3";
}
.icon-im-wordpress:before {
  content: "\eab4";
}
.icon-im-joomla:before {
  content: "\eab5";
}
.icon-im-ello:before {
  content: "\eab6";
}
.icon-im-blogger:before {
  content: "\eab7";
}
.icon-im-blogger2:before {
  content: "\eab8";
}
.icon-im-tumblr:before {
  content: "\eab9";
}
.icon-im-tumblr2:before {
  content: "\eaba";
}
.icon-im-yahoo:before {
  content: "\eabb";
}
.icon-im-yahoo2:before {
  content: "\eabc";
}
.icon-im-tux:before {
  content: "\eabd";
}
.icon-im-appleinc:before {
  content: "\eabe";
}
.icon-im-finder:before {
  content: "\eabf";
}
.icon-im-android:before {
  content: "\eac0";
}
.icon-im-windows:before {
  content: "\eac1";
}
.icon-im-windows8:before {
  content: "\eac2";
}
.icon-im-soundcloud:before {
  content: "\eac3";
}
.icon-im-soundcloud2:before {
  content: "\eac4";
}
.icon-im-skype:before {
  content: "\eac5";
}
.icon-im-reddit:before {
  content: "\eac6";
}
.icon-im-hackernews:before {
  content: "\eac7";
}
.icon-im-wikipedia:before {
  content: "\eac8";
}
.icon-im-linkedin:before {
  content: "\eac9";
}
.icon-im-linkedin2:before {
  content: "\eaca";
}
.icon-im-lastfm:before {
  content: "\eacb";
}
.icon-im-lastfm2:before {
  content: "\eacc";
}
.icon-im-delicious:before {
  content: "\eacd";
}
.icon-im-stumbleupon:before {
  content: "\eace";
}
.icon-im-stumbleupon2:before {
  content: "\eacf";
}
.icon-im-stackoverflow:before {
  content: "\ead0";
}
.icon-im-pinterest:before {
  content: "\ead1";
}
.icon-im-pinterest2:before {
  content: "\ead2";
}
.icon-im-xing:before {
  content: "\ead3";
}
.icon-im-xing2:before {
  content: "\ead4";
}
.icon-im-flattr:before {
  content: "\ead5";
}
.icon-im-foursquare:before {
  content: "\ead6";
}
.icon-im-yelp:before {
  content: "\ead7";
}
.icon-im-paypal:before {
  content: "\ead8";
}
.icon-im-chrome:before {
  content: "\ead9";
}
.icon-im-firefox:before {
  content: "\eada";
}
.icon-im-IE:before {
  content: "\eadb";
}
.icon-im-edge:before {
  content: "\eadc";
}
.icon-im-safari:before {
  content: "\eadd";
}
.icon-im-opera:before {
  content: "\eade";
}
.icon-im-file-pdf:before {
  content: "\eadf";
}
.icon-im-file-openoffice:before {
  content: "\eae0";
}
.icon-im-file-word:before {
  content: "\eae1";
}
.icon-im-file-excel:before {
  content: "\eae2";
}
.icon-im-libreoffice:before {
  content: "\eae3";
}
.icon-im-html-five:before {
  content: "\eae4";
}
.icon-im-html-five2:before {
  content: "\eae5";
}
.icon-im-css3:before {
  content: "\eae6";
}
.icon-im-git:before {
  content: "\eae7";
}
.icon-im-codepen:before {
  content: "\eae8";
}
.icon-im-svg:before {
  content: "\eae9";
}
.icon-im-IcoMoon:before {
  content: "\eaea";
}
