@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('@{icomoon-font-path}/icomoon.ttf?nezso0') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?nezso0') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?nezso0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-im-"], [class*=" icon-im-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-im-home {
  &:before {
    content: @icon-im-home;
  }
}
.icon-im-home2 {
  &:before {
    content: @icon-im-home2;
  }
}
.icon-im-home3 {
  &:before {
    content: @icon-im-home3;
  }
}
.icon-im-office {
  &:before {
    content: @icon-im-office;
  }
}
.icon-im-newspaper {
  &:before {
    content: @icon-im-newspaper;
  }
}
.icon-im-pencil {
  &:before {
    content: @icon-im-pencil;
  }
}
.icon-im-pencil2 {
  &:before {
    content: @icon-im-pencil2;
  }
}
.icon-im-quill {
  &:before {
    content: @icon-im-quill;
  }
}
.icon-im-pen {
  &:before {
    content: @icon-im-pen;
  }
}
.icon-im-blog {
  &:before {
    content: @icon-im-blog;
  }
}
.icon-im-eyedropper {
  &:before {
    content: @icon-im-eyedropper;
  }
}
.icon-im-droplet {
  &:before {
    content: @icon-im-droplet;
  }
}
.icon-im-paint-format {
  &:before {
    content: @icon-im-paint-format;
  }
}
.icon-im-image {
  &:before {
    content: @icon-im-image;
  }
}
.icon-im-images {
  &:before {
    content: @icon-im-images;
  }
}
.icon-im-camera {
  &:before {
    content: @icon-im-camera;
  }
}
.icon-im-headphones {
  &:before {
    content: @icon-im-headphones;
  }
}
.icon-im-music {
  &:before {
    content: @icon-im-music;
  }
}
.icon-im-play {
  &:before {
    content: @icon-im-play;
  }
}
.icon-im-film {
  &:before {
    content: @icon-im-film;
  }
}
.icon-im-video-camera {
  &:before {
    content: @icon-im-video-camera;
  }
}
.icon-im-dice {
  &:before {
    content: @icon-im-dice;
  }
}
.icon-im-pacman {
  &:before {
    content: @icon-im-pacman;
  }
}
.icon-im-spades {
  &:before {
    content: @icon-im-spades;
  }
}
.icon-im-clubs {
  &:before {
    content: @icon-im-clubs;
  }
}
.icon-im-diamonds {
  &:before {
    content: @icon-im-diamonds;
  }
}
.icon-im-bullhorn {
  &:before {
    content: @icon-im-bullhorn;
  }
}
.icon-im-connection {
  &:before {
    content: @icon-im-connection;
  }
}
.icon-im-podcast {
  &:before {
    content: @icon-im-podcast;
  }
}
.icon-im-feed {
  &:before {
    content: @icon-im-feed;
  }
}
.icon-im-mic {
  &:before {
    content: @icon-im-mic;
  }
}
.icon-im-book {
  &:before {
    content: @icon-im-book;
  }
}
.icon-im-books {
  &:before {
    content: @icon-im-books;
  }
}
.icon-im-library {
  &:before {
    content: @icon-im-library;
  }
}
.icon-im-file-text {
  &:before {
    content: @icon-im-file-text;
  }
}
.icon-im-profile {
  &:before {
    content: @icon-im-profile;
  }
}
.icon-im-file-empty {
  &:before {
    content: @icon-im-file-empty;
  }
}
.icon-im-files-empty {
  &:before {
    content: @icon-im-files-empty;
  }
}
.icon-im-file-text2 {
  &:before {
    content: @icon-im-file-text2;
  }
}
.icon-im-file-picture {
  &:before {
    content: @icon-im-file-picture;
  }
}
.icon-im-file-music {
  &:before {
    content: @icon-im-file-music;
  }
}
.icon-im-file-play {
  &:before {
    content: @icon-im-file-play;
  }
}
.icon-im-file-video {
  &:before {
    content: @icon-im-file-video;
  }
}
.icon-im-file-zip {
  &:before {
    content: @icon-im-file-zip;
  }
}
.icon-im-copy {
  &:before {
    content: @icon-im-copy;
  }
}
.icon-im-paste {
  &:before {
    content: @icon-im-paste;
  }
}
.icon-im-stack {
  &:before {
    content: @icon-im-stack;
  }
}
.icon-im-folder {
  &:before {
    content: @icon-im-folder;
  }
}
.icon-im-folder-open {
  &:before {
    content: @icon-im-folder-open;
  }
}
.icon-im-folder-plus {
  &:before {
    content: @icon-im-folder-plus;
  }
}
.icon-im-folder-minus {
  &:before {
    content: @icon-im-folder-minus;
  }
}
.icon-im-folder-download {
  &:before {
    content: @icon-im-folder-download;
  }
}
.icon-im-folder-upload {
  &:before {
    content: @icon-im-folder-upload;
  }
}
.icon-im-price-tag {
  &:before {
    content: @icon-im-price-tag;
  }
}
.icon-im-price-tags {
  &:before {
    content: @icon-im-price-tags;
  }
}
.icon-im-barcode {
  &:before {
    content: @icon-im-barcode;
  }
}
.icon-im-qrcode {
  &:before {
    content: @icon-im-qrcode;
  }
}
.icon-im-ticket {
  &:before {
    content: @icon-im-ticket;
  }
}
.icon-im-cart {
  &:before {
    content: @icon-im-cart;
  }
}
.icon-im-coin-dollar {
  &:before {
    content: @icon-im-coin-dollar;
  }
}
.icon-im-coin-euro {
  &:before {
    content: @icon-im-coin-euro;
  }
}
.icon-im-coin-pound {
  &:before {
    content: @icon-im-coin-pound;
  }
}
.icon-im-coin-yen {
  &:before {
    content: @icon-im-coin-yen;
  }
}
.icon-im-credit-card {
  &:before {
    content: @icon-im-credit-card;
  }
}
.icon-im-calculator {
  &:before {
    content: @icon-im-calculator;
  }
}
.icon-im-lifebuoy {
  &:before {
    content: @icon-im-lifebuoy;
  }
}
.icon-im-phone {
  &:before {
    content: @icon-im-phone;
  }
}
.icon-im-phone-hang-up {
  &:before {
    content: @icon-im-phone-hang-up;
  }
}
.icon-im-address-book {
  &:before {
    content: @icon-im-address-book;
  }
}
.icon-im-envelop {
  &:before {
    content: @icon-im-envelop;
  }
}
.icon-im-pushpin {
  &:before {
    content: @icon-im-pushpin;
  }
}
.icon-im-location {
  &:before {
    content: @icon-im-location;
  }
}
.icon-im-location2 {
  &:before {
    content: @icon-im-location2;
  }
}
.icon-im-compass {
  &:before {
    content: @icon-im-compass;
  }
}
.icon-im-compass2 {
  &:before {
    content: @icon-im-compass2;
  }
}
.icon-im-map {
  &:before {
    content: @icon-im-map;
  }
}
.icon-im-map2 {
  &:before {
    content: @icon-im-map2;
  }
}
.icon-im-history {
  &:before {
    content: @icon-im-history;
  }
}
.icon-im-clock {
  &:before {
    content: @icon-im-clock;
  }
}
.icon-im-clock2 {
  &:before {
    content: @icon-im-clock2;
  }
}
.icon-im-alarm {
  &:before {
    content: @icon-im-alarm;
  }
}
.icon-im-bell {
  &:before {
    content: @icon-im-bell;
  }
}
.icon-im-stopwatch {
  &:before {
    content: @icon-im-stopwatch;
  }
}
.icon-im-calendar {
  &:before {
    content: @icon-im-calendar;
  }
}
.icon-im-printer {
  &:before {
    content: @icon-im-printer;
  }
}
.icon-im-keyboard {
  &:before {
    content: @icon-im-keyboard;
  }
}
.icon-im-display {
  &:before {
    content: @icon-im-display;
  }
}
.icon-im-laptop {
  &:before {
    content: @icon-im-laptop;
  }
}
.icon-im-mobile {
  &:before {
    content: @icon-im-mobile;
  }
}
.icon-im-mobile2 {
  &:before {
    content: @icon-im-mobile2;
  }
}
.icon-im-tablet {
  &:before {
    content: @icon-im-tablet;
  }
}
.icon-im-tv {
  &:before {
    content: @icon-im-tv;
  }
}
.icon-im-drawer {
  &:before {
    content: @icon-im-drawer;
  }
}
.icon-im-drawer2 {
  &:before {
    content: @icon-im-drawer2;
  }
}
.icon-im-box-add {
  &:before {
    content: @icon-im-box-add;
  }
}
.icon-im-box-remove {
  &:before {
    content: @icon-im-box-remove;
  }
}
.icon-im-download {
  &:before {
    content: @icon-im-download;
  }
}
.icon-im-upload {
  &:before {
    content: @icon-im-upload;
  }
}
.icon-im-floppy-disk {
  &:before {
    content: @icon-im-floppy-disk;
  }
}
.icon-im-drive {
  &:before {
    content: @icon-im-drive;
  }
}
.icon-im-database {
  &:before {
    content: @icon-im-database;
  }
}
.icon-im-undo {
  &:before {
    content: @icon-im-undo;
  }
}
.icon-im-redo {
  &:before {
    content: @icon-im-redo;
  }
}
.icon-im-undo2 {
  &:before {
    content: @icon-im-undo2;
  }
}
.icon-im-redo2 {
  &:before {
    content: @icon-im-redo2;
  }
}
.icon-im-forward {
  &:before {
    content: @icon-im-forward;
  }
}
.icon-im-reply {
  &:before {
    content: @icon-im-reply;
  }
}
.icon-im-bubble {
  &:before {
    content: @icon-im-bubble;
  }
}
.icon-im-bubbles {
  &:before {
    content: @icon-im-bubbles;
  }
}
.icon-im-bubbles2 {
  &:before {
    content: @icon-im-bubbles2;
  }
}
.icon-im-bubble2 {
  &:before {
    content: @icon-im-bubble2;
  }
}
.icon-im-bubbles3 {
  &:before {
    content: @icon-im-bubbles3;
  }
}
.icon-im-bubbles4 {
  &:before {
    content: @icon-im-bubbles4;
  }
}
.icon-im-user {
  &:before {
    content: @icon-im-user;
  }
}
.icon-im-users {
  &:before {
    content: @icon-im-users;
  }
}
.icon-im-user-plus {
  &:before {
    content: @icon-im-user-plus;
  }
}
.icon-im-user-minus {
  &:before {
    content: @icon-im-user-minus;
  }
}
.icon-im-user-check {
  &:before {
    content: @icon-im-user-check;
  }
}
.icon-im-user-tie {
  &:before {
    content: @icon-im-user-tie;
  }
}
.icon-im-quotes-left {
  &:before {
    content: @icon-im-quotes-left;
  }
}
.icon-im-quotes-right {
  &:before {
    content: @icon-im-quotes-right;
  }
}
.icon-im-hour-glass {
  &:before {
    content: @icon-im-hour-glass;
  }
}
.icon-im-spinner {
  &:before {
    content: @icon-im-spinner;
  }
}
.icon-im-spinner2 {
  &:before {
    content: @icon-im-spinner2;
  }
}
.icon-im-spinner3 {
  &:before {
    content: @icon-im-spinner3;
  }
}
.icon-im-spinner4 {
  &:before {
    content: @icon-im-spinner4;
  }
}
.icon-im-spinner5 {
  &:before {
    content: @icon-im-spinner5;
  }
}
.icon-im-spinner6 {
  &:before {
    content: @icon-im-spinner6;
  }
}
.icon-im-spinner7 {
  &:before {
    content: @icon-im-spinner7;
  }
}
.icon-im-spinner8 {
  &:before {
    content: @icon-im-spinner8;
  }
}
.icon-im-spinner9 {
  &:before {
    content: @icon-im-spinner9;
  }
}
.icon-im-spinner10 {
  &:before {
    content: @icon-im-spinner10;
  }
}
.icon-im-spinner11 {
  &:before {
    content: @icon-im-spinner11;
  }
}
.icon-im-binoculars {
  &:before {
    content: @icon-im-binoculars;
  }
}
.icon-im-search {
  &:before {
    content: @icon-im-search;
  }
}
.icon-im-zoom-in {
  &:before {
    content: @icon-im-zoom-in;
  }
}
.icon-im-zoom-out {
  &:before {
    content: @icon-im-zoom-out;
  }
}
.icon-im-enlarge {
  &:before {
    content: @icon-im-enlarge;
  }
}
.icon-im-shrink {
  &:before {
    content: @icon-im-shrink;
  }
}
.icon-im-enlarge2 {
  &:before {
    content: @icon-im-enlarge2;
  }
}
.icon-im-shrink2 {
  &:before {
    content: @icon-im-shrink2;
  }
}
.icon-im-key {
  &:before {
    content: @icon-im-key;
  }
}
.icon-im-key2 {
  &:before {
    content: @icon-im-key2;
  }
}
.icon-im-lock {
  &:before {
    content: @icon-im-lock;
  }
}
.icon-im-unlocked {
  &:before {
    content: @icon-im-unlocked;
  }
}
.icon-im-wrench {
  &:before {
    content: @icon-im-wrench;
  }
}
.icon-im-equalizer {
  &:before {
    content: @icon-im-equalizer;
  }
}
.icon-im-equalizer2 {
  &:before {
    content: @icon-im-equalizer2;
  }
}
.icon-im-cog {
  &:before {
    content: @icon-im-cog;
  }
}
.icon-im-cogs {
  &:before {
    content: @icon-im-cogs;
  }
}
.icon-im-hammer {
  &:before {
    content: @icon-im-hammer;
  }
}
.icon-im-magic-wand {
  &:before {
    content: @icon-im-magic-wand;
  }
}
.icon-im-aid-kit {
  &:before {
    content: @icon-im-aid-kit;
  }
}
.icon-im-bug {
  &:before {
    content: @icon-im-bug;
  }
}
.icon-im-pie-chart {
  &:before {
    content: @icon-im-pie-chart;
  }
}
.icon-im-stats-dots {
  &:before {
    content: @icon-im-stats-dots;
  }
}
.icon-im-stats-bars {
  &:before {
    content: @icon-im-stats-bars;
  }
}
.icon-im-stats-bars2 {
  &:before {
    content: @icon-im-stats-bars2;
  }
}
.icon-im-trophy {
  &:before {
    content: @icon-im-trophy;
  }
}
.icon-im-gift {
  &:before {
    content: @icon-im-gift;
  }
}
.icon-im-glass {
  &:before {
    content: @icon-im-glass;
  }
}
.icon-im-glass2 {
  &:before {
    content: @icon-im-glass2;
  }
}
.icon-im-mug {
  &:before {
    content: @icon-im-mug;
  }
}
.icon-im-spoon-knife {
  &:before {
    content: @icon-im-spoon-knife;
  }
}
.icon-im-leaf {
  &:before {
    content: @icon-im-leaf;
  }
}
.icon-im-rocket {
  &:before {
    content: @icon-im-rocket;
  }
}
.icon-im-meter {
  &:before {
    content: @icon-im-meter;
  }
}
.icon-im-meter2 {
  &:before {
    content: @icon-im-meter2;
  }
}
.icon-im-hammer2 {
  &:before {
    content: @icon-im-hammer2;
  }
}
.icon-im-fire {
  &:before {
    content: @icon-im-fire;
  }
}
.icon-im-lab {
  &:before {
    content: @icon-im-lab;
  }
}
.icon-im-magnet {
  &:before {
    content: @icon-im-magnet;
  }
}
.icon-im-bin {
  &:before {
    content: @icon-im-bin;
  }
}
.icon-im-bin2 {
  &:before {
    content: @icon-im-bin2;
  }
}
.icon-im-briefcase {
  &:before {
    content: @icon-im-briefcase;
  }
}
.icon-im-airplane {
  &:before {
    content: @icon-im-airplane;
  }
}
.icon-im-truck {
  &:before {
    content: @icon-im-truck;
  }
}
.icon-im-road {
  &:before {
    content: @icon-im-road;
  }
}
.icon-im-accessibility {
  &:before {
    content: @icon-im-accessibility;
  }
}
.icon-im-target {
  &:before {
    content: @icon-im-target;
  }
}
.icon-im-shield {
  &:before {
    content: @icon-im-shield;
  }
}
.icon-im-power {
  &:before {
    content: @icon-im-power;
  }
}
.icon-im-switch {
  &:before {
    content: @icon-im-switch;
  }
}
.icon-im-power-cord {
  &:before {
    content: @icon-im-power-cord;
  }
}
.icon-im-clipboard {
  &:before {
    content: @icon-im-clipboard;
  }
}
.icon-im-list-numbered {
  &:before {
    content: @icon-im-list-numbered;
  }
}
.icon-im-list {
  &:before {
    content: @icon-im-list;
  }
}
.icon-im-list2 {
  &:before {
    content: @icon-im-list2;
  }
}
.icon-im-tree {
  &:before {
    content: @icon-im-tree;
  }
}
.icon-im-menu {
  &:before {
    content: @icon-im-menu;
  }
}
.icon-im-menu2 {
  &:before {
    content: @icon-im-menu2;
  }
}
.icon-im-menu3 {
  &:before {
    content: @icon-im-menu3;
  }
}
.icon-im-menu4 {
  &:before {
    content: @icon-im-menu4;
  }
}
.icon-im-cloud {
  &:before {
    content: @icon-im-cloud;
  }
}
.icon-im-cloud-download {
  &:before {
    content: @icon-im-cloud-download;
  }
}
.icon-im-cloud-upload {
  &:before {
    content: @icon-im-cloud-upload;
  }
}
.icon-im-cloud-check {
  &:before {
    content: @icon-im-cloud-check;
  }
}
.icon-im-download2 {
  &:before {
    content: @icon-im-download2;
  }
}
.icon-im-upload2 {
  &:before {
    content: @icon-im-upload2;
  }
}
.icon-im-download3 {
  &:before {
    content: @icon-im-download3;
  }
}
.icon-im-upload3 {
  &:before {
    content: @icon-im-upload3;
  }
}
.icon-im-sphere {
  &:before {
    content: @icon-im-sphere;
  }
}
.icon-im-earth {
  &:before {
    content: @icon-im-earth;
  }
}
.icon-im-link {
  &:before {
    content: @icon-im-link;
  }
}
.icon-im-flag {
  &:before {
    content: @icon-im-flag;
  }
}
.icon-im-attachment {
  &:before {
    content: @icon-im-attachment;
  }
}
.icon-im-eye {
  &:before {
    content: @icon-im-eye;
  }
}
.icon-im-eye-plus {
  &:before {
    content: @icon-im-eye-plus;
  }
}
.icon-im-eye-minus {
  &:before {
    content: @icon-im-eye-minus;
  }
}
.icon-im-eye-blocked {
  &:before {
    content: @icon-im-eye-blocked;
  }
}
.icon-im-bookmark {
  &:before {
    content: @icon-im-bookmark;
  }
}
.icon-im-bookmarks {
  &:before {
    content: @icon-im-bookmarks;
  }
}
.icon-im-sun {
  &:before {
    content: @icon-im-sun;
  }
}
.icon-im-contrast {
  &:before {
    content: @icon-im-contrast;
  }
}
.icon-im-brightness-contrast {
  &:before {
    content: @icon-im-brightness-contrast;
  }
}
.icon-im-star-empty {
  &:before {
    content: @icon-im-star-empty;
  }
}
.icon-im-star-half {
  &:before {
    content: @icon-im-star-half;
  }
}
.icon-im-star-full {
  &:before {
    content: @icon-im-star-full;
  }
}
.icon-im-heart {
  &:before {
    content: @icon-im-heart;
  }
}
.icon-im-heart-broken {
  &:before {
    content: @icon-im-heart-broken;
  }
}
.icon-im-man {
  &:before {
    content: @icon-im-man;
  }
}
.icon-im-woman {
  &:before {
    content: @icon-im-woman;
  }
}
.icon-im-man-woman {
  &:before {
    content: @icon-im-man-woman;
  }
}
.icon-im-happy {
  &:before {
    content: @icon-im-happy;
  }
}
.icon-im-happy2 {
  &:before {
    content: @icon-im-happy2;
  }
}
.icon-im-smile {
  &:before {
    content: @icon-im-smile;
  }
}
.icon-im-smile2 {
  &:before {
    content: @icon-im-smile2;
  }
}
.icon-im-tongue {
  &:before {
    content: @icon-im-tongue;
  }
}
.icon-im-tongue2 {
  &:before {
    content: @icon-im-tongue2;
  }
}
.icon-im-sad {
  &:before {
    content: @icon-im-sad;
  }
}
.icon-im-sad2 {
  &:before {
    content: @icon-im-sad2;
  }
}
.icon-im-wink {
  &:before {
    content: @icon-im-wink;
  }
}
.icon-im-wink2 {
  &:before {
    content: @icon-im-wink2;
  }
}
.icon-im-grin {
  &:before {
    content: @icon-im-grin;
  }
}
.icon-im-grin2 {
  &:before {
    content: @icon-im-grin2;
  }
}
.icon-im-cool {
  &:before {
    content: @icon-im-cool;
  }
}
.icon-im-cool2 {
  &:before {
    content: @icon-im-cool2;
  }
}
.icon-im-angry {
  &:before {
    content: @icon-im-angry;
  }
}
.icon-im-angry2 {
  &:before {
    content: @icon-im-angry2;
  }
}
.icon-im-evil {
  &:before {
    content: @icon-im-evil;
  }
}
.icon-im-evil2 {
  &:before {
    content: @icon-im-evil2;
  }
}
.icon-im-shocked {
  &:before {
    content: @icon-im-shocked;
  }
}
.icon-im-shocked2 {
  &:before {
    content: @icon-im-shocked2;
  }
}
.icon-im-baffled {
  &:before {
    content: @icon-im-baffled;
  }
}
.icon-im-baffled2 {
  &:before {
    content: @icon-im-baffled2;
  }
}
.icon-im-confused {
  &:before {
    content: @icon-im-confused;
  }
}
.icon-im-confused2 {
  &:before {
    content: @icon-im-confused2;
  }
}
.icon-im-neutral {
  &:before {
    content: @icon-im-neutral;
  }
}
.icon-im-neutral2 {
  &:before {
    content: @icon-im-neutral2;
  }
}
.icon-im-hipster {
  &:before {
    content: @icon-im-hipster;
  }
}
.icon-im-hipster2 {
  &:before {
    content: @icon-im-hipster2;
  }
}
.icon-im-wondering {
  &:before {
    content: @icon-im-wondering;
  }
}
.icon-im-wondering2 {
  &:before {
    content: @icon-im-wondering2;
  }
}
.icon-im-sleepy {
  &:before {
    content: @icon-im-sleepy;
  }
}
.icon-im-sleepy2 {
  &:before {
    content: @icon-im-sleepy2;
  }
}
.icon-im-frustrated {
  &:before {
    content: @icon-im-frustrated;
  }
}
.icon-im-frustrated2 {
  &:before {
    content: @icon-im-frustrated2;
  }
}
.icon-im-crying {
  &:before {
    content: @icon-im-crying;
  }
}
.icon-im-crying2 {
  &:before {
    content: @icon-im-crying2;
  }
}
.icon-im-point-up {
  &:before {
    content: @icon-im-point-up;
  }
}
.icon-im-point-right {
  &:before {
    content: @icon-im-point-right;
  }
}
.icon-im-point-down {
  &:before {
    content: @icon-im-point-down;
  }
}
.icon-im-point-left {
  &:before {
    content: @icon-im-point-left;
  }
}
.icon-im-warning {
  &:before {
    content: @icon-im-warning;
  }
}
.icon-im-notification {
  &:before {
    content: @icon-im-notification;
  }
}
.icon-im-question {
  &:before {
    content: @icon-im-question;
  }
}
.icon-im-plus {
  &:before {
    content: @icon-im-plus;
  }
}
.icon-im-minus {
  &:before {
    content: @icon-im-minus;
  }
}
.icon-im-info {
  &:before {
    content: @icon-im-info;
  }
}
.icon-im-cancel-circle {
  &:before {
    content: @icon-im-cancel-circle;
  }
}
.icon-im-blocked {
  &:before {
    content: @icon-im-blocked;
  }
}
.icon-im-cross {
  &:before {
    content: @icon-im-cross;
  }
}
.icon-im-checkmark {
  &:before {
    content: @icon-im-checkmark;
  }
}
.icon-im-checkmark2 {
  &:before {
    content: @icon-im-checkmark2;
  }
}
.icon-im-spell-check {
  &:before {
    content: @icon-im-spell-check;
  }
}
.icon-im-enter {
  &:before {
    content: @icon-im-enter;
  }
}
.icon-im-exit {
  &:before {
    content: @icon-im-exit;
  }
}
.icon-im-play2 {
  &:before {
    content: @icon-im-play2;
  }
}
.icon-im-pause {
  &:before {
    content: @icon-im-pause;
  }
}
.icon-im-stop {
  &:before {
    content: @icon-im-stop;
  }
}
.icon-im-previous {
  &:before {
    content: @icon-im-previous;
  }
}
.icon-im-next {
  &:before {
    content: @icon-im-next;
  }
}
.icon-im-backward {
  &:before {
    content: @icon-im-backward;
  }
}
.icon-im-forward2 {
  &:before {
    content: @icon-im-forward2;
  }
}
.icon-im-play3 {
  &:before {
    content: @icon-im-play3;
  }
}
.icon-im-pause2 {
  &:before {
    content: @icon-im-pause2;
  }
}
.icon-im-stop2 {
  &:before {
    content: @icon-im-stop2;
  }
}
.icon-im-backward2 {
  &:before {
    content: @icon-im-backward2;
  }
}
.icon-im-forward3 {
  &:before {
    content: @icon-im-forward3;
  }
}
.icon-im-first {
  &:before {
    content: @icon-im-first;
  }
}
.icon-im-last {
  &:before {
    content: @icon-im-last;
  }
}
.icon-im-previous2 {
  &:before {
    content: @icon-im-previous2;
  }
}
.icon-im-next2 {
  &:before {
    content: @icon-im-next2;
  }
}
.icon-im-eject {
  &:before {
    content: @icon-im-eject;
  }
}
.icon-im-volume-high {
  &:before {
    content: @icon-im-volume-high;
  }
}
.icon-im-volume-medium {
  &:before {
    content: @icon-im-volume-medium;
  }
}
.icon-im-volume-low {
  &:before {
    content: @icon-im-volume-low;
  }
}
.icon-im-volume-mute {
  &:before {
    content: @icon-im-volume-mute;
  }
}
.icon-im-volume-mute2 {
  &:before {
    content: @icon-im-volume-mute2;
  }
}
.icon-im-volume-increase {
  &:before {
    content: @icon-im-volume-increase;
  }
}
.icon-im-volume-decrease {
  &:before {
    content: @icon-im-volume-decrease;
  }
}
.icon-im-loop {
  &:before {
    content: @icon-im-loop;
  }
}
.icon-im-loop2 {
  &:before {
    content: @icon-im-loop2;
  }
}
.icon-im-infinite {
  &:before {
    content: @icon-im-infinite;
  }
}
.icon-im-shuffle {
  &:before {
    content: @icon-im-shuffle;
  }
}
.icon-im-arrow-up-left {
  &:before {
    content: @icon-im-arrow-up-left;
  }
}
.icon-im-arrow-up {
  &:before {
    content: @icon-im-arrow-up;
  }
}
.icon-im-arrow-up-right {
  &:before {
    content: @icon-im-arrow-up-right;
  }
}
.icon-im-arrow-right {
  &:before {
    content: @icon-im-arrow-right;
  }
}
.icon-im-arrow-down-right {
  &:before {
    content: @icon-im-arrow-down-right;
  }
}
.icon-im-arrow-down {
  &:before {
    content: @icon-im-arrow-down;
  }
}
.icon-im-arrow-down-left {
  &:before {
    content: @icon-im-arrow-down-left;
  }
}
.icon-im-arrow-left {
  &:before {
    content: @icon-im-arrow-left;
  }
}
.icon-im-arrow-up-left2 {
  &:before {
    content: @icon-im-arrow-up-left2;
  }
}
.icon-im-arrow-up2 {
  &:before {
    content: @icon-im-arrow-up2;
  }
}
.icon-im-arrow-up-right2 {
  &:before {
    content: @icon-im-arrow-up-right2;
  }
}
.icon-im-arrow-right2 {
  &:before {
    content: @icon-im-arrow-right2;
  }
}
.icon-im-arrow-down-right2 {
  &:before {
    content: @icon-im-arrow-down-right2;
  }
}
.icon-im-arrow-down2 {
  &:before {
    content: @icon-im-arrow-down2;
  }
}
.icon-im-arrow-down-left2 {
  &:before {
    content: @icon-im-arrow-down-left2;
  }
}
.icon-im-arrow-left2 {
  &:before {
    content: @icon-im-arrow-left2;
  }
}
.icon-im-circle-up {
  &:before {
    content: @icon-im-circle-up;
  }
}
.icon-im-circle-right {
  &:before {
    content: @icon-im-circle-right;
  }
}
.icon-im-circle-down {
  &:before {
    content: @icon-im-circle-down;
  }
}
.icon-im-circle-left {
  &:before {
    content: @icon-im-circle-left;
  }
}
.icon-im-tab {
  &:before {
    content: @icon-im-tab;
  }
}
.icon-im-move-up {
  &:before {
    content: @icon-im-move-up;
  }
}
.icon-im-move-down {
  &:before {
    content: @icon-im-move-down;
  }
}
.icon-im-sort-alpha-asc {
  &:before {
    content: @icon-im-sort-alpha-asc;
  }
}
.icon-im-sort-alpha-desc {
  &:before {
    content: @icon-im-sort-alpha-desc;
  }
}
.icon-im-sort-numeric-asc {
  &:before {
    content: @icon-im-sort-numeric-asc;
  }
}
.icon-im-sort-numberic-desc {
  &:before {
    content: @icon-im-sort-numberic-desc;
  }
}
.icon-im-sort-amount-asc {
  &:before {
    content: @icon-im-sort-amount-asc;
  }
}
.icon-im-sort-amount-desc {
  &:before {
    content: @icon-im-sort-amount-desc;
  }
}
.icon-im-command {
  &:before {
    content: @icon-im-command;
  }
}
.icon-im-shift {
  &:before {
    content: @icon-im-shift;
  }
}
.icon-im-ctrl {
  &:before {
    content: @icon-im-ctrl;
  }
}
.icon-im-opt {
  &:before {
    content: @icon-im-opt;
  }
}
.icon-im-checkbox-checked {
  &:before {
    content: @icon-im-checkbox-checked;
  }
}
.icon-im-checkbox-unchecked {
  &:before {
    content: @icon-im-checkbox-unchecked;
  }
}
.icon-im-radio-checked {
  &:before {
    content: @icon-im-radio-checked;
  }
}
.icon-im-radio-checked2 {
  &:before {
    content: @icon-im-radio-checked2;
  }
}
.icon-im-radio-unchecked {
  &:before {
    content: @icon-im-radio-unchecked;
  }
}
.icon-im-crop {
  &:before {
    content: @icon-im-crop;
  }
}
.icon-im-make-group {
  &:before {
    content: @icon-im-make-group;
  }
}
.icon-im-ungroup {
  &:before {
    content: @icon-im-ungroup;
  }
}
.icon-im-scissors {
  &:before {
    content: @icon-im-scissors;
  }
}
.icon-im-filter {
  &:before {
    content: @icon-im-filter;
  }
}
.icon-im-font {
  &:before {
    content: @icon-im-font;
  }
}
.icon-im-ligature {
  &:before {
    content: @icon-im-ligature;
  }
}
.icon-im-ligature2 {
  &:before {
    content: @icon-im-ligature2;
  }
}
.icon-im-text-height {
  &:before {
    content: @icon-im-text-height;
  }
}
.icon-im-text-width {
  &:before {
    content: @icon-im-text-width;
  }
}
.icon-im-font-size {
  &:before {
    content: @icon-im-font-size;
  }
}
.icon-im-bold {
  &:before {
    content: @icon-im-bold;
  }
}
.icon-im-underline {
  &:before {
    content: @icon-im-underline;
  }
}
.icon-im-italic {
  &:before {
    content: @icon-im-italic;
  }
}
.icon-im-strikethrough {
  &:before {
    content: @icon-im-strikethrough;
  }
}
.icon-im-omega {
  &:before {
    content: @icon-im-omega;
  }
}
.icon-im-sigma {
  &:before {
    content: @icon-im-sigma;
  }
}
.icon-im-page-break {
  &:before {
    content: @icon-im-page-break;
  }
}
.icon-im-superscript {
  &:before {
    content: @icon-im-superscript;
  }
}
.icon-im-subscript {
  &:before {
    content: @icon-im-subscript;
  }
}
.icon-im-superscript2 {
  &:before {
    content: @icon-im-superscript2;
  }
}
.icon-im-subscript2 {
  &:before {
    content: @icon-im-subscript2;
  }
}
.icon-im-text-color {
  &:before {
    content: @icon-im-text-color;
  }
}
.icon-im-pagebreak {
  &:before {
    content: @icon-im-pagebreak;
  }
}
.icon-im-clear-formatting {
  &:before {
    content: @icon-im-clear-formatting;
  }
}
.icon-im-table {
  &:before {
    content: @icon-im-table;
  }
}
.icon-im-table2 {
  &:before {
    content: @icon-im-table2;
  }
}
.icon-im-insert-template {
  &:before {
    content: @icon-im-insert-template;
  }
}
.icon-im-pilcrow {
  &:before {
    content: @icon-im-pilcrow;
  }
}
.icon-im-ltr {
  &:before {
    content: @icon-im-ltr;
  }
}
.icon-im-rtl {
  &:before {
    content: @icon-im-rtl;
  }
}
.icon-im-section {
  &:before {
    content: @icon-im-section;
  }
}
.icon-im-paragraph-left {
  &:before {
    content: @icon-im-paragraph-left;
  }
}
.icon-im-paragraph-center {
  &:before {
    content: @icon-im-paragraph-center;
  }
}
.icon-im-paragraph-right {
  &:before {
    content: @icon-im-paragraph-right;
  }
}
.icon-im-paragraph-justify {
  &:before {
    content: @icon-im-paragraph-justify;
  }
}
.icon-im-indent-increase {
  &:before {
    content: @icon-im-indent-increase;
  }
}
.icon-im-indent-decrease {
  &:before {
    content: @icon-im-indent-decrease;
  }
}
.icon-im-share {
  &:before {
    content: @icon-im-share;
  }
}
.icon-im-new-tab {
  &:before {
    content: @icon-im-new-tab;
  }
}
.icon-im-embed {
  &:before {
    content: @icon-im-embed;
  }
}
.icon-im-embed2 {
  &:before {
    content: @icon-im-embed2;
  }
}
.icon-im-terminal {
  &:before {
    content: @icon-im-terminal;
  }
}
.icon-im-share2 {
  &:before {
    content: @icon-im-share2;
  }
}
.icon-im-mail {
  &:before {
    content: @icon-im-mail;
  }
}
.icon-im-mail2 {
  &:before {
    content: @icon-im-mail2;
  }
}
.icon-im-mail3 {
  &:before {
    content: @icon-im-mail3;
  }
}
.icon-im-mail4 {
  &:before {
    content: @icon-im-mail4;
  }
}
.icon-im-amazon {
  &:before {
    content: @icon-im-amazon;
  }
}
.icon-im-google {
  &:before {
    content: @icon-im-google;
  }
}
.icon-im-google2 {
  &:before {
    content: @icon-im-google2;
  }
}
.icon-im-google3 {
  &:before {
    content: @icon-im-google3;
  }
}
.icon-im-google-plus {
  &:before {
    content: @icon-im-google-plus;
  }
}
.icon-im-google-plus2 {
  &:before {
    content: @icon-im-google-plus2;
  }
}
.icon-im-google-plus3 {
  &:before {
    content: @icon-im-google-plus3;
  }
}
.icon-im-hangouts {
  &:before {
    content: @icon-im-hangouts;
  }
}
.icon-im-google-drive {
  &:before {
    content: @icon-im-google-drive;
  }
}
.icon-im-facebook {
  &:before {
    content: @icon-im-facebook;
  }
}
.icon-im-facebook2 {
  &:before {
    content: @icon-im-facebook2;
  }
}
.icon-im-instagram {
  &:before {
    content: @icon-im-instagram;
  }
}
.icon-im-whatsapp {
  &:before {
    content: @icon-im-whatsapp;
  }
}
.icon-im-spotify {
  &:before {
    content: @icon-im-spotify;
  }
}
.icon-im-telegram {
  &:before {
    content: @icon-im-telegram;
  }
}
.icon-im-twitter {
  &:before {
    content: @icon-im-twitter;
  }
}
.icon-im-vine {
  &:before {
    content: @icon-im-vine;
  }
}
.icon-im-vk {
  &:before {
    content: @icon-im-vk;
  }
}
.icon-im-renren {
  &:before {
    content: @icon-im-renren;
  }
}
.icon-im-sina-weibo {
  &:before {
    content: @icon-im-sina-weibo;
  }
}
.icon-im-rss {
  &:before {
    content: @icon-im-rss;
  }
}
.icon-im-rss2 {
  &:before {
    content: @icon-im-rss2;
  }
}
.icon-im-youtube {
  &:before {
    content: @icon-im-youtube;
  }
}
.icon-im-youtube2 {
  &:before {
    content: @icon-im-youtube2;
  }
}
.icon-im-twitch {
  &:before {
    content: @icon-im-twitch;
  }
}
.icon-im-vimeo {
  &:before {
    content: @icon-im-vimeo;
  }
}
.icon-im-vimeo2 {
  &:before {
    content: @icon-im-vimeo2;
  }
}
.icon-im-lanyrd {
  &:before {
    content: @icon-im-lanyrd;
  }
}
.icon-im-flickr {
  &:before {
    content: @icon-im-flickr;
  }
}
.icon-im-flickr2 {
  &:before {
    content: @icon-im-flickr2;
  }
}
.icon-im-flickr3 {
  &:before {
    content: @icon-im-flickr3;
  }
}
.icon-im-flickr4 {
  &:before {
    content: @icon-im-flickr4;
  }
}
.icon-im-dribbble {
  &:before {
    content: @icon-im-dribbble;
  }
}
.icon-im-behance {
  &:before {
    content: @icon-im-behance;
  }
}
.icon-im-behance2 {
  &:before {
    content: @icon-im-behance2;
  }
}
.icon-im-deviantart {
  &:before {
    content: @icon-im-deviantart;
  }
}
.icon-im-500px {
  &:before {
    content: @icon-im-500px;
  }
}
.icon-im-steam {
  &:before {
    content: @icon-im-steam;
  }
}
.icon-im-steam2 {
  &:before {
    content: @icon-im-steam2;
  }
}
.icon-im-dropbox {
  &:before {
    content: @icon-im-dropbox;
  }
}
.icon-im-onedrive {
  &:before {
    content: @icon-im-onedrive;
  }
}
.icon-im-github {
  &:before {
    content: @icon-im-github;
  }
}
.icon-im-npm {
  &:before {
    content: @icon-im-npm;
  }
}
.icon-im-basecamp {
  &:before {
    content: @icon-im-basecamp;
  }
}
.icon-im-trello {
  &:before {
    content: @icon-im-trello;
  }
}
.icon-im-wordpress {
  &:before {
    content: @icon-im-wordpress;
  }
}
.icon-im-joomla {
  &:before {
    content: @icon-im-joomla;
  }
}
.icon-im-ello {
  &:before {
    content: @icon-im-ello;
  }
}
.icon-im-blogger {
  &:before {
    content: @icon-im-blogger;
  }
}
.icon-im-blogger2 {
  &:before {
    content: @icon-im-blogger2;
  }
}
.icon-im-tumblr {
  &:before {
    content: @icon-im-tumblr;
  }
}
.icon-im-tumblr2 {
  &:before {
    content: @icon-im-tumblr2;
  }
}
.icon-im-yahoo {
  &:before {
    content: @icon-im-yahoo;
  }
}
.icon-im-yahoo2 {
  &:before {
    content: @icon-im-yahoo2;
  }
}
.icon-im-tux {
  &:before {
    content: @icon-im-tux;
  }
}
.icon-im-appleinc {
  &:before {
    content: @icon-im-appleinc;
  }
}
.icon-im-finder {
  &:before {
    content: @icon-im-finder;
  }
}
.icon-im-android {
  &:before {
    content: @icon-im-android;
  }
}
.icon-im-windows {
  &:before {
    content: @icon-im-windows;
  }
}
.icon-im-windows8 {
  &:before {
    content: @icon-im-windows8;
  }
}
.icon-im-soundcloud {
  &:before {
    content: @icon-im-soundcloud;
  }
}
.icon-im-soundcloud2 {
  &:before {
    content: @icon-im-soundcloud2;
  }
}
.icon-im-skype {
  &:before {
    content: @icon-im-skype;
  }
}
.icon-im-reddit {
  &:before {
    content: @icon-im-reddit;
  }
}
.icon-im-hackernews {
  &:before {
    content: @icon-im-hackernews;
  }
}
.icon-im-wikipedia {
  &:before {
    content: @icon-im-wikipedia;
  }
}
.icon-im-linkedin {
  &:before {
    content: @icon-im-linkedin;
  }
}
.icon-im-linkedin2 {
  &:before {
    content: @icon-im-linkedin2;
  }
}
.icon-im-lastfm {
  &:before {
    content: @icon-im-lastfm;
  }
}
.icon-im-lastfm2 {
  &:before {
    content: @icon-im-lastfm2;
  }
}
.icon-im-delicious {
  &:before {
    content: @icon-im-delicious;
  }
}
.icon-im-stumbleupon {
  &:before {
    content: @icon-im-stumbleupon;
  }
}
.icon-im-stumbleupon2 {
  &:before {
    content: @icon-im-stumbleupon2;
  }
}
.icon-im-stackoverflow {
  &:before {
    content: @icon-im-stackoverflow;
  }
}
.icon-im-pinterest {
  &:before {
    content: @icon-im-pinterest;
  }
}
.icon-im-pinterest2 {
  &:before {
    content: @icon-im-pinterest2;
  }
}
.icon-im-xing {
  &:before {
    content: @icon-im-xing;
  }
}
.icon-im-xing2 {
  &:before {
    content: @icon-im-xing2;
  }
}
.icon-im-flattr {
  &:before {
    content: @icon-im-flattr;
  }
}
.icon-im-foursquare {
  &:before {
    content: @icon-im-foursquare;
  }
}
.icon-im-yelp {
  &:before {
    content: @icon-im-yelp;
  }
}
.icon-im-paypal {
  &:before {
    content: @icon-im-paypal;
  }
}
.icon-im-chrome {
  &:before {
    content: @icon-im-chrome;
  }
}
.icon-im-firefox {
  &:before {
    content: @icon-im-firefox;
  }
}
.icon-im-IE {
  &:before {
    content: @icon-im-IE;
  }
}
.icon-im-edge {
  &:before {
    content: @icon-im-edge;
  }
}
.icon-im-safari {
  &:before {
    content: @icon-im-safari;
  }
}
.icon-im-opera {
  &:before {
    content: @icon-im-opera;
  }
}
.icon-im-file-pdf {
  &:before {
    content: @icon-im-file-pdf;
  }
}
.icon-im-file-openoffice {
  &:before {
    content: @icon-im-file-openoffice;
  }
}
.icon-im-file-word {
  &:before {
    content: @icon-im-file-word;
  }
}
.icon-im-file-excel {
  &:before {
    content: @icon-im-file-excel;
  }
}
.icon-im-libreoffice {
  &:before {
    content: @icon-im-libreoffice;
  }
}
.icon-im-html-five {
  &:before {
    content: @icon-im-html-five;
  }
}
.icon-im-html-five2 {
  &:before {
    content: @icon-im-html-five2;
  }
}
.icon-im-css3 {
  &:before {
    content: @icon-im-css3;
  }
}
.icon-im-git {
  &:before {
    content: @icon-im-git;
  }
}
.icon-im-codepen {
  &:before {
    content: @icon-im-codepen;
  }
}
.icon-im-svg {
  &:before {
    content: @icon-im-svg;
  }
}
.icon-im-IcoMoon {
  &:before {
    content: @icon-im-IcoMoon;
  }
}

