@icomoon-font-path: "fonts";

@icon-im-home: "\e900";
@icon-im-home2: "\e901";
@icon-im-home3: "\e902";
@icon-im-office: "\e903";
@icon-im-newspaper: "\e904";
@icon-im-pencil: "\e905";
@icon-im-pencil2: "\e906";
@icon-im-quill: "\e907";
@icon-im-pen: "\e908";
@icon-im-blog: "\e909";
@icon-im-eyedropper: "\e90a";
@icon-im-droplet: "\e90b";
@icon-im-paint-format: "\e90c";
@icon-im-image: "\e90d";
@icon-im-images: "\e90e";
@icon-im-camera: "\e90f";
@icon-im-headphones: "\e910";
@icon-im-music: "\e911";
@icon-im-play: "\e912";
@icon-im-film: "\e913";
@icon-im-video-camera: "\e914";
@icon-im-dice: "\e915";
@icon-im-pacman: "\e916";
@icon-im-spades: "\e917";
@icon-im-clubs: "\e918";
@icon-im-diamonds: "\e919";
@icon-im-bullhorn: "\e91a";
@icon-im-connection: "\e91b";
@icon-im-podcast: "\e91c";
@icon-im-feed: "\e91d";
@icon-im-mic: "\e91e";
@icon-im-book: "\e91f";
@icon-im-books: "\e920";
@icon-im-library: "\e921";
@icon-im-file-text: "\e922";
@icon-im-profile: "\e923";
@icon-im-file-empty: "\e924";
@icon-im-files-empty: "\e925";
@icon-im-file-text2: "\e926";
@icon-im-file-picture: "\e927";
@icon-im-file-music: "\e928";
@icon-im-file-play: "\e929";
@icon-im-file-video: "\e92a";
@icon-im-file-zip: "\e92b";
@icon-im-copy: "\e92c";
@icon-im-paste: "\e92d";
@icon-im-stack: "\e92e";
@icon-im-folder: "\e92f";
@icon-im-folder-open: "\e930";
@icon-im-folder-plus: "\e931";
@icon-im-folder-minus: "\e932";
@icon-im-folder-download: "\e933";
@icon-im-folder-upload: "\e934";
@icon-im-price-tag: "\e935";
@icon-im-price-tags: "\e936";
@icon-im-barcode: "\e937";
@icon-im-qrcode: "\e938";
@icon-im-ticket: "\e939";
@icon-im-cart: "\e93a";
@icon-im-coin-dollar: "\e93b";
@icon-im-coin-euro: "\e93c";
@icon-im-coin-pound: "\e93d";
@icon-im-coin-yen: "\e93e";
@icon-im-credit-card: "\e93f";
@icon-im-calculator: "\e940";
@icon-im-lifebuoy: "\e941";
@icon-im-phone: "\e942";
@icon-im-phone-hang-up: "\e943";
@icon-im-address-book: "\e944";
@icon-im-envelop: "\e945";
@icon-im-pushpin: "\e946";
@icon-im-location: "\e947";
@icon-im-location2: "\e948";
@icon-im-compass: "\e949";
@icon-im-compass2: "\e94a";
@icon-im-map: "\e94b";
@icon-im-map2: "\e94c";
@icon-im-history: "\e94d";
@icon-im-clock: "\e94e";
@icon-im-clock2: "\e94f";
@icon-im-alarm: "\e950";
@icon-im-bell: "\e951";
@icon-im-stopwatch: "\e952";
@icon-im-calendar: "\e953";
@icon-im-printer: "\e954";
@icon-im-keyboard: "\e955";
@icon-im-display: "\e956";
@icon-im-laptop: "\e957";
@icon-im-mobile: "\e958";
@icon-im-mobile2: "\e959";
@icon-im-tablet: "\e95a";
@icon-im-tv: "\e95b";
@icon-im-drawer: "\e95c";
@icon-im-drawer2: "\e95d";
@icon-im-box-add: "\e95e";
@icon-im-box-remove: "\e95f";
@icon-im-download: "\e960";
@icon-im-upload: "\e961";
@icon-im-floppy-disk: "\e962";
@icon-im-drive: "\e963";
@icon-im-database: "\e964";
@icon-im-undo: "\e965";
@icon-im-redo: "\e966";
@icon-im-undo2: "\e967";
@icon-im-redo2: "\e968";
@icon-im-forward: "\e969";
@icon-im-reply: "\e96a";
@icon-im-bubble: "\e96b";
@icon-im-bubbles: "\e96c";
@icon-im-bubbles2: "\e96d";
@icon-im-bubble2: "\e96e";
@icon-im-bubbles3: "\e96f";
@icon-im-bubbles4: "\e970";
@icon-im-user: "\e971";
@icon-im-users: "\e972";
@icon-im-user-plus: "\e973";
@icon-im-user-minus: "\e974";
@icon-im-user-check: "\e975";
@icon-im-user-tie: "\e976";
@icon-im-quotes-left: "\e977";
@icon-im-quotes-right: "\e978";
@icon-im-hour-glass: "\e979";
@icon-im-spinner: "\e97a";
@icon-im-spinner2: "\e97b";
@icon-im-spinner3: "\e97c";
@icon-im-spinner4: "\e97d";
@icon-im-spinner5: "\e97e";
@icon-im-spinner6: "\e97f";
@icon-im-spinner7: "\e980";
@icon-im-spinner8: "\e981";
@icon-im-spinner9: "\e982";
@icon-im-spinner10: "\e983";
@icon-im-spinner11: "\e984";
@icon-im-binoculars: "\e985";
@icon-im-search: "\e986";
@icon-im-zoom-in: "\e987";
@icon-im-zoom-out: "\e988";
@icon-im-enlarge: "\e989";
@icon-im-shrink: "\e98a";
@icon-im-enlarge2: "\e98b";
@icon-im-shrink2: "\e98c";
@icon-im-key: "\e98d";
@icon-im-key2: "\e98e";
@icon-im-lock: "\e98f";
@icon-im-unlocked: "\e990";
@icon-im-wrench: "\e991";
@icon-im-equalizer: "\e992";
@icon-im-equalizer2: "\e993";
@icon-im-cog: "\e994";
@icon-im-cogs: "\e995";
@icon-im-hammer: "\e996";
@icon-im-magic-wand: "\e997";
@icon-im-aid-kit: "\e998";
@icon-im-bug: "\e999";
@icon-im-pie-chart: "\e99a";
@icon-im-stats-dots: "\e99b";
@icon-im-stats-bars: "\e99c";
@icon-im-stats-bars2: "\e99d";
@icon-im-trophy: "\e99e";
@icon-im-gift: "\e99f";
@icon-im-glass: "\e9a0";
@icon-im-glass2: "\e9a1";
@icon-im-mug: "\e9a2";
@icon-im-spoon-knife: "\e9a3";
@icon-im-leaf: "\e9a4";
@icon-im-rocket: "\e9a5";
@icon-im-meter: "\e9a6";
@icon-im-meter2: "\e9a7";
@icon-im-hammer2: "\e9a8";
@icon-im-fire: "\e9a9";
@icon-im-lab: "\e9aa";
@icon-im-magnet: "\e9ab";
@icon-im-bin: "\e9ac";
@icon-im-bin2: "\e9ad";
@icon-im-briefcase: "\e9ae";
@icon-im-airplane: "\e9af";
@icon-im-truck: "\e9b0";
@icon-im-road: "\e9b1";
@icon-im-accessibility: "\e9b2";
@icon-im-target: "\e9b3";
@icon-im-shield: "\e9b4";
@icon-im-power: "\e9b5";
@icon-im-switch: "\e9b6";
@icon-im-power-cord: "\e9b7";
@icon-im-clipboard: "\e9b8";
@icon-im-list-numbered: "\e9b9";
@icon-im-list: "\e9ba";
@icon-im-list2: "\e9bb";
@icon-im-tree: "\e9bc";
@icon-im-menu: "\e9bd";
@icon-im-menu2: "\e9be";
@icon-im-menu3: "\e9bf";
@icon-im-menu4: "\e9c0";
@icon-im-cloud: "\e9c1";
@icon-im-cloud-download: "\e9c2";
@icon-im-cloud-upload: "\e9c3";
@icon-im-cloud-check: "\e9c4";
@icon-im-download2: "\e9c5";
@icon-im-upload2: "\e9c6";
@icon-im-download3: "\e9c7";
@icon-im-upload3: "\e9c8";
@icon-im-sphere: "\e9c9";
@icon-im-earth: "\e9ca";
@icon-im-link: "\e9cb";
@icon-im-flag: "\e9cc";
@icon-im-attachment: "\e9cd";
@icon-im-eye: "\e9ce";
@icon-im-eye-plus: "\e9cf";
@icon-im-eye-minus: "\e9d0";
@icon-im-eye-blocked: "\e9d1";
@icon-im-bookmark: "\e9d2";
@icon-im-bookmarks: "\e9d3";
@icon-im-sun: "\e9d4";
@icon-im-contrast: "\e9d5";
@icon-im-brightness-contrast: "\e9d6";
@icon-im-star-empty: "\e9d7";
@icon-im-star-half: "\e9d8";
@icon-im-star-full: "\e9d9";
@icon-im-heart: "\e9da";
@icon-im-heart-broken: "\e9db";
@icon-im-man: "\e9dc";
@icon-im-woman: "\e9dd";
@icon-im-man-woman: "\e9de";
@icon-im-happy: "\e9df";
@icon-im-happy2: "\e9e0";
@icon-im-smile: "\e9e1";
@icon-im-smile2: "\e9e2";
@icon-im-tongue: "\e9e3";
@icon-im-tongue2: "\e9e4";
@icon-im-sad: "\e9e5";
@icon-im-sad2: "\e9e6";
@icon-im-wink: "\e9e7";
@icon-im-wink2: "\e9e8";
@icon-im-grin: "\e9e9";
@icon-im-grin2: "\e9ea";
@icon-im-cool: "\e9eb";
@icon-im-cool2: "\e9ec";
@icon-im-angry: "\e9ed";
@icon-im-angry2: "\e9ee";
@icon-im-evil: "\e9ef";
@icon-im-evil2: "\e9f0";
@icon-im-shocked: "\e9f1";
@icon-im-shocked2: "\e9f2";
@icon-im-baffled: "\e9f3";
@icon-im-baffled2: "\e9f4";
@icon-im-confused: "\e9f5";
@icon-im-confused2: "\e9f6";
@icon-im-neutral: "\e9f7";
@icon-im-neutral2: "\e9f8";
@icon-im-hipster: "\e9f9";
@icon-im-hipster2: "\e9fa";
@icon-im-wondering: "\e9fb";
@icon-im-wondering2: "\e9fc";
@icon-im-sleepy: "\e9fd";
@icon-im-sleepy2: "\e9fe";
@icon-im-frustrated: "\e9ff";
@icon-im-frustrated2: "\ea00";
@icon-im-crying: "\ea01";
@icon-im-crying2: "\ea02";
@icon-im-point-up: "\ea03";
@icon-im-point-right: "\ea04";
@icon-im-point-down: "\ea05";
@icon-im-point-left: "\ea06";
@icon-im-warning: "\ea07";
@icon-im-notification: "\ea08";
@icon-im-question: "\ea09";
@icon-im-plus: "\ea0a";
@icon-im-minus: "\ea0b";
@icon-im-info: "\ea0c";
@icon-im-cancel-circle: "\ea0d";
@icon-im-blocked: "\ea0e";
@icon-im-cross: "\ea0f";
@icon-im-checkmark: "\ea10";
@icon-im-checkmark2: "\ea11";
@icon-im-spell-check: "\ea12";
@icon-im-enter: "\ea13";
@icon-im-exit: "\ea14";
@icon-im-play2: "\ea15";
@icon-im-pause: "\ea16";
@icon-im-stop: "\ea17";
@icon-im-previous: "\ea18";
@icon-im-next: "\ea19";
@icon-im-backward: "\ea1a";
@icon-im-forward2: "\ea1b";
@icon-im-play3: "\ea1c";
@icon-im-pause2: "\ea1d";
@icon-im-stop2: "\ea1e";
@icon-im-backward2: "\ea1f";
@icon-im-forward3: "\ea20";
@icon-im-first: "\ea21";
@icon-im-last: "\ea22";
@icon-im-previous2: "\ea23";
@icon-im-next2: "\ea24";
@icon-im-eject: "\ea25";
@icon-im-volume-high: "\ea26";
@icon-im-volume-medium: "\ea27";
@icon-im-volume-low: "\ea28";
@icon-im-volume-mute: "\ea29";
@icon-im-volume-mute2: "\ea2a";
@icon-im-volume-increase: "\ea2b";
@icon-im-volume-decrease: "\ea2c";
@icon-im-loop: "\ea2d";
@icon-im-loop2: "\ea2e";
@icon-im-infinite: "\ea2f";
@icon-im-shuffle: "\ea30";
@icon-im-arrow-up-left: "\ea31";
@icon-im-arrow-up: "\ea32";
@icon-im-arrow-up-right: "\ea33";
@icon-im-arrow-right: "\ea34";
@icon-im-arrow-down-right: "\ea35";
@icon-im-arrow-down: "\ea36";
@icon-im-arrow-down-left: "\ea37";
@icon-im-arrow-left: "\ea38";
@icon-im-arrow-up-left2: "\ea39";
@icon-im-arrow-up2: "\ea3a";
@icon-im-arrow-up-right2: "\ea3b";
@icon-im-arrow-right2: "\ea3c";
@icon-im-arrow-down-right2: "\ea3d";
@icon-im-arrow-down2: "\ea3e";
@icon-im-arrow-down-left2: "\ea3f";
@icon-im-arrow-left2: "\ea40";
@icon-im-circle-up: "\ea41";
@icon-im-circle-right: "\ea42";
@icon-im-circle-down: "\ea43";
@icon-im-circle-left: "\ea44";
@icon-im-tab: "\ea45";
@icon-im-move-up: "\ea46";
@icon-im-move-down: "\ea47";
@icon-im-sort-alpha-asc: "\ea48";
@icon-im-sort-alpha-desc: "\ea49";
@icon-im-sort-numeric-asc: "\ea4a";
@icon-im-sort-numberic-desc: "\ea4b";
@icon-im-sort-amount-asc: "\ea4c";
@icon-im-sort-amount-desc: "\ea4d";
@icon-im-command: "\ea4e";
@icon-im-shift: "\ea4f";
@icon-im-ctrl: "\ea50";
@icon-im-opt: "\ea51";
@icon-im-checkbox-checked: "\ea52";
@icon-im-checkbox-unchecked: "\ea53";
@icon-im-radio-checked: "\ea54";
@icon-im-radio-checked2: "\ea55";
@icon-im-radio-unchecked: "\ea56";
@icon-im-crop: "\ea57";
@icon-im-make-group: "\ea58";
@icon-im-ungroup: "\ea59";
@icon-im-scissors: "\ea5a";
@icon-im-filter: "\ea5b";
@icon-im-font: "\ea5c";
@icon-im-ligature: "\ea5d";
@icon-im-ligature2: "\ea5e";
@icon-im-text-height: "\ea5f";
@icon-im-text-width: "\ea60";
@icon-im-font-size: "\ea61";
@icon-im-bold: "\ea62";
@icon-im-underline: "\ea63";
@icon-im-italic: "\ea64";
@icon-im-strikethrough: "\ea65";
@icon-im-omega: "\ea66";
@icon-im-sigma: "\ea67";
@icon-im-page-break: "\ea68";
@icon-im-superscript: "\ea69";
@icon-im-subscript: "\ea6a";
@icon-im-superscript2: "\ea6b";
@icon-im-subscript2: "\ea6c";
@icon-im-text-color: "\ea6d";
@icon-im-pagebreak: "\ea6e";
@icon-im-clear-formatting: "\ea6f";
@icon-im-table: "\ea70";
@icon-im-table2: "\ea71";
@icon-im-insert-template: "\ea72";
@icon-im-pilcrow: "\ea73";
@icon-im-ltr: "\ea74";
@icon-im-rtl: "\ea75";
@icon-im-section: "\ea76";
@icon-im-paragraph-left: "\ea77";
@icon-im-paragraph-center: "\ea78";
@icon-im-paragraph-right: "\ea79";
@icon-im-paragraph-justify: "\ea7a";
@icon-im-indent-increase: "\ea7b";
@icon-im-indent-decrease: "\ea7c";
@icon-im-share: "\ea7d";
@icon-im-new-tab: "\ea7e";
@icon-im-embed: "\ea7f";
@icon-im-embed2: "\ea80";
@icon-im-terminal: "\ea81";
@icon-im-share2: "\ea82";
@icon-im-mail: "\ea83";
@icon-im-mail2: "\ea84";
@icon-im-mail3: "\ea85";
@icon-im-mail4: "\ea86";
@icon-im-amazon: "\ea87";
@icon-im-google: "\ea88";
@icon-im-google2: "\ea89";
@icon-im-google3: "\ea8a";
@icon-im-google-plus: "\ea8b";
@icon-im-google-plus2: "\ea8c";
@icon-im-google-plus3: "\ea8d";
@icon-im-hangouts: "\ea8e";
@icon-im-google-drive: "\ea8f";
@icon-im-facebook: "\ea90";
@icon-im-facebook2: "\ea91";
@icon-im-instagram: "\ea92";
@icon-im-whatsapp: "\ea93";
@icon-im-spotify: "\ea94";
@icon-im-telegram: "\ea95";
@icon-im-twitter: "\ea96";
@icon-im-vine: "\ea97";
@icon-im-vk: "\ea98";
@icon-im-renren: "\ea99";
@icon-im-sina-weibo: "\ea9a";
@icon-im-rss: "\ea9b";
@icon-im-rss2: "\ea9c";
@icon-im-youtube: "\ea9d";
@icon-im-youtube2: "\ea9e";
@icon-im-twitch: "\ea9f";
@icon-im-vimeo: "\eaa0";
@icon-im-vimeo2: "\eaa1";
@icon-im-lanyrd: "\eaa2";
@icon-im-flickr: "\eaa3";
@icon-im-flickr2: "\eaa4";
@icon-im-flickr3: "\eaa5";
@icon-im-flickr4: "\eaa6";
@icon-im-dribbble: "\eaa7";
@icon-im-behance: "\eaa8";
@icon-im-behance2: "\eaa9";
@icon-im-deviantart: "\eaaa";
@icon-im-500px: "\eaab";
@icon-im-steam: "\eaac";
@icon-im-steam2: "\eaad";
@icon-im-dropbox: "\eaae";
@icon-im-onedrive: "\eaaf";
@icon-im-github: "\eab0";
@icon-im-npm: "\eab1";
@icon-im-basecamp: "\eab2";
@icon-im-trello: "\eab3";
@icon-im-wordpress: "\eab4";
@icon-im-joomla: "\eab5";
@icon-im-ello: "\eab6";
@icon-im-blogger: "\eab7";
@icon-im-blogger2: "\eab8";
@icon-im-tumblr: "\eab9";
@icon-im-tumblr2: "\eaba";
@icon-im-yahoo: "\eabb";
@icon-im-yahoo2: "\eabc";
@icon-im-tux: "\eabd";
@icon-im-appleinc: "\eabe";
@icon-im-finder: "\eabf";
@icon-im-android: "\eac0";
@icon-im-windows: "\eac1";
@icon-im-windows8: "\eac2";
@icon-im-soundcloud: "\eac3";
@icon-im-soundcloud2: "\eac4";
@icon-im-skype: "\eac5";
@icon-im-reddit: "\eac6";
@icon-im-hackernews: "\eac7";
@icon-im-wikipedia: "\eac8";
@icon-im-linkedin: "\eac9";
@icon-im-linkedin2: "\eaca";
@icon-im-lastfm: "\eacb";
@icon-im-lastfm2: "\eacc";
@icon-im-delicious: "\eacd";
@icon-im-stumbleupon: "\eace";
@icon-im-stumbleupon2: "\eacf";
@icon-im-stackoverflow: "\ead0";
@icon-im-pinterest: "\ead1";
@icon-im-pinterest2: "\ead2";
@icon-im-xing: "\ead3";
@icon-im-xing2: "\ead4";
@icon-im-flattr: "\ead5";
@icon-im-foursquare: "\ead6";
@icon-im-yelp: "\ead7";
@icon-im-paypal: "\ead8";
@icon-im-chrome: "\ead9";
@icon-im-firefox: "\eada";
@icon-im-IE: "\eadb";
@icon-im-edge: "\eadc";
@icon-im-safari: "\eadd";
@icon-im-opera: "\eade";
@icon-im-file-pdf: "\eadf";
@icon-im-file-openoffice: "\eae0";
@icon-im-file-word: "\eae1";
@icon-im-file-excel: "\eae2";
@icon-im-libreoffice: "\eae3";
@icon-im-html-five: "\eae4";
@icon-im-html-five2: "\eae5";
@icon-im-css3: "\eae6";
@icon-im-git: "\eae7";
@icon-im-codepen: "\eae8";
@icon-im-svg: "\eae9";
@icon-im-IcoMoon: "\eaea";

