<template>
    <div>
        <dm-taskbar/>
        <dm-desktop>
            <button v-on:click="open">
                Hello
            </button>
        </dm-desktop>
    </div>
</template>

<style lang="less">
    @import "~bootstrap/less/bootstrap";
</style>

<script>
    import App from "./App";

    export default App;
</script>
