<template>
    <dm-context>
        <div class="dm-desktop">
            <slot/>
            <dm-frame v-for="id in ids" :key="id" v-bind:uuid="id"/>
        </div>
    </dm-context>
</template>

<style lang="less">
    .dm-desktop {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
</style>

<script>
    import Desktop from './Desktop'

    export default Desktop
</script>
