<template>
    <div class="dm-taskbar-item">
        ITEM
    </div>
</template>

<style lang="less">
    .dm-taskbar-item {
        margin: 0 4px;
        padding: 2px 10px;

        display: inline-block;

        border: 1px solid;
    }
</style>
<script>
    import Item from './Item'

    export default Item
</script>