<template>
    <div class="dm-taskbar">
        <dm-taskbar-item v-for="id in ids" :key="id" v-bind:uuid="id"/>
    </div>
</template>

<style lang="less">
    .dm-taskbar {
        height: 50px;
        padding: 5px 2px;

        background: #CCCCCC;
    }
</style>

<script>
    import Taskbar from './Taskbar'

    export default Taskbar
</script>